.launch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.893518518518518vw;
}


.regreen-logo {
  width: 100%;
}
.launch-image-container{
  min-width: 34.60648148148148vw;
  min-height: 32.638888888888886vw;
}
.launch-image{
  width: 100%;
}
.launch-anchor {
  text-decoration: none;
}
.launch-anchor:hover {
  border-color: transparent;
}
.launch-website-button {
  width: 15.856481481481481vw;
  height: 4.166666666666666vw;
  border-radius: 10px;
  background: #05c123;
  padding: 1.1574074074074074vw;
  border-color: #05c123;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 1.446759259259259vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  white-space: nowrap;
}
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  border-color: #05c123;
  box-shadow: 0 0.057870370370370364vw 0.8680555555555555vw
    rgba(0, 0, 0, 0.295);
}